
.wedding-page {
	color: #F1EDE0;
	font-family: 'Alex Brush', cursive, sans-serif;
	font-size: 96px;
	background-color: #99B9A1;
	text-align: center;
}

.intro-page {
	margin: 175px auto;
}
.small-text {
	font-size: 56px;
}